
.active-link {
    background-color: #00457c; 
    border-radius: 10px; 
    padding: 10px;
    text-decoration: none;  
    width: 29rem;
  }
  
 
  a:hover {
    text-decoration: none;;
  }
  

  h5 {
    margin: 0;
  }
  

  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }